*{
    padding: 0;
    margin: 0;

}

html,body{
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1497366754035-f200968a6e72?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    display: flex;
    /* flex-wrap: nowrap; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    /* overflow: auto; */
    padding-top: 10px;

}

#card{

    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.558);
    border: 1px solid white;
        /* flex-shrink: 0; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
#card img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover;
}
@font-face {
    font-family: face;
    src: url(/BebasNeue-Regular.ttf);
}
#card h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: white;
}
#card p{
    font-size: 15px;
    font-weight: 200;
    color: white;
    padding-bottom:10px ;
}
#card button{
    padding: 10px 20px;
    border-radius: 50px;
    background-color:blue;
    color: white;
    font-size: 15px;
    font-weight: 300;
    border: none;
}
#card button:hover{
    background:rgba(255, 255, 255, 0.3);
    cursor: pointer;
    color: blue;
    border-color: blue;
}